@model About

<h3 style="text-align:center">Yeni About Elave Etme</h3>

<form method="post" asp-action="Create" asp-area="Admin" asp-controller="About" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title:</label>
        <input asp-for="Title" type="text" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description:</label>
        <input asp-for="Description" type="text" class="form-control" />

    </div>
    <div class="mb-3">
        <label asp-for="Photo"></label>
        <input class="form-control" style="width:300px" asp-for="Photo">

    </div>
    <div class="text-danger" asp-validation-summary="All">

    </div>
    <br />
    <div class="d-flex">
        <button class="btn btn-primary">Elave Et</button>

        <a asp-action="AboutList" asp-controller="About" asp-area="Admin" class="btn btn-light">Cancel</a>
    </div>
</form>