@model NoticeBoard

<h3 style="text-align:center">NoticeBoard Update</h3>

<form method="post" asp-action="Update" asp-area="Admin" asp-controller="NoticeBoard">
    <div>
        <label asp-for="Description" class="form-label">Description :</label><br />
        <input asp-for="Description" type="text" class="form-control" />
    </div>
    <div class="text-danger" asp-validation-summary="All">

    </div>
    <br />

    <div class="d-flex">
        <button class="btn btn-primary">Yenile</button>

        <a asp-action="NoticeBoardList" asp-controller="NoticeBoard" asp-area="Admin" class="btn btn-light">Cancel</a>
    </div>
</form>