@model Event

<h3 style="text-align:center">Event Update</h3>

<form method="post" asp-action="Update" asp-area="Admin" asp-controller="Event" enctype="multipart/form-data">
    <div>
        <label asp-for="Title" class="form-label">Title :</label><br />
        <input asp-for="Title" type="text" class="form-control" />
    </div>
    <div>
        <label asp-for="Description" class="form-label">Description :</label><br />
        <input asp-for="Description" type="text" class="form-control" />
    </div>
    <div>
        <label asp-for="Location" class="form-label">Location :</label><br />
        <input asp-for="Location" type="text" class="form-control" />
    </div>
    <div>
        <label asp-for="StartDate" class="form-label">StartDate :</label><br />
        <input asp-for="StartDate" type="text" class="form-control" />
    </div>
    <div>
        <label asp-for="EndDate" class="form-label">EndDate :</label><br />
        <input asp-for="EndDate" type="text" class="form-control" />
    </div>
    <div>
        <label asp-for="Photo" class="form-label">Photo :</label><br />
        <input asp-for="Photo" class="form-control" style="width:300px;"/>
    </div>
    <div class="text-danger" asp-validation-summary="All">

    </div>
    <br />

    <div class="d-flex">
        <button class="btn btn-primary">Yenile</button>

        <a asp-action="EventList" asp-controller="Event" asp-area="Admin" class="btn btn-light">Cancel</a>
    </div>
</form>