@model Skill

<h3 style="text-align:center">Yeni Skill Elave Etme</h3>

<form method="post" asp-action="Create" asp-area="Admin" asp-controller="Skill">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name:</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    
    <div class="text-danger" asp-validation-summary="All">

    </div>
    <br />
    <div class="d-flex">
        <button class="btn btn-primary">Elave Et</button>

        <a asp-action="SkillList" asp-controller="Skill" asp-area="Admin" class="btn btn-light">Cancel</a>
    </div>
</form>