@model List<Testimonial>

<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            @foreach (var item in Model.Take(1))
                            {


                <div class="testimonial-img">
                    <img src="~/img/testimonial/testimonial.jpg" alt="testimonial">
                </div>
                                <div class="testimonial-content">
                                    <p>@item.Description</p>
                                    <h4>@item.Fullname</h4>
                                    <h5>@item.Work</h5>
                                </div>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>