@model (CourseDetails coursedetails, List<Course> course)

<h3 style="text-align:center">CourdeDetils Update</h3>

<form method="post" asp-action="Update" asp-area="Admin" asp-controller="CourseDetails">

    <div class="mb-3">
        <label class="form-label">Course Title</label>
        <select asp-for="coursedetails.CourseId" asp-items="@(new SelectList(Model.course, "Id", "Title"));" class="form-control"></select>
    </div>
    <div class="mb-3">
        <label asp-for="coursedetails.About" class="form-label">About :</label>
        <input asp-for="coursedetails.About" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="coursedetails.HowToApply" class="form-label">HowToApply :</label>
        <input asp-for="coursedetails.HowToApply" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="coursedetails.Certificate" class="form-label">Certificate :</label>
        <input asp-for="coursedetails.Certificate" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="coursedetails.CourseCount" class="form-label">CourseCount :</label>
        <input asp-for="coursedetails.CourseCount" type="number" class="form-control" />
    </div>
    <div class="text-danger" asp-validation-summary="All">

    </div>
    <div class="d-flex">
        <input type="hidden" asp-for="coursedetails.Id" />
        <button class="btn btn-primary">Yenile</button>

        <a asp-action="CourseDetailsList" asp-controller="CourseDetails" asp-area="Admin" class="btn btn-light">Cancel</a>
    </div>
</form>