@model BioTable


<form class="form-control">
    <div class="mb-3">
        <label class="form-label">Adress</label>
        <div>
            @Model.Adress
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <p>
            @Model.Email
        </p>
    </div>
    <div class="mb-3">
        <label class="form-label">SiteLink</label>
        <p>
            @Model.SiteLink
        </p>
    </div>
    <div class="mb-3">
        <label class="form-label">PhoneNumber</label>
        <p>
            @Model.PhoneNumber
        </p>
    </div>
    <a asp-action="BioTableList" asp-controller="BioTable" asp-area="Admin" class="btn btn-light">Cancel</a>
</form>